:root {
    --main-background: rgb(193, 161, 101);
    --vinyl-disk-background: #2e2e2e;
    --vinyl-disk-border: #f1f2ec;
    --vinyl-disk-info-circle: #ea593a;
    --vinyl-disk-info-border: #c23e39;
    --vinyl-track-stripe: rgba(255, 255, 255, 0.4);
}